<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Add New Employee</h1>
<h2>
    <a th:href="@{/employees/}">
        Back to Employee list
    </a>
</h2>
<div id="form">
    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{employeeId}"/>
        <div>
            <label>Name: </label>
            <input type="text" th:field="*{employeeName}"/>
            <small th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}">Name Error</small>
        </div>
        <div>
            <label>Date Of Birth: </label>
            <input type="date" th:field="*{employeeBirthday}"/>
            <small th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}">Name Error</small>
        </div>
        <div>
            <label>Id Card: </label>
            <input type="text" th:field="*{employeeIdCard}"/>
            <small th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}">Name Error</small>
        </div>
        <div>
            <label>Salary: </label>
            <input type="text" th:field="*{employeeSalary}"/>
            <small th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}">Name Error</small>
        </div>
        <div>
            <label>Phone: </label>
            <input type="tel" th:field="*{employeePhone}"/>
            <small th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}">Name Error</small>
        </div>

        <div>
            <label>Email: </label>
            <input type="text" th:field="*{employeeEmail}"/>
            <small th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}">Name Error</small>
        </div>
        <div>
            <label>Address: </label>
            <input type="text" th:field="*{employeeAddress}"/>
            <small th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}">Name Error</small>
        </div>
        <div>
            <label>Position: </label>
            <select th:field="*{position}">
                <option th:each="p : ${positions}"
                        th:value="${p.positionId}"
                        th:text="${p.positionName}">
                </option>
            </select>
        </div>
        <div>
            <label>Education Degree: </label>
            <select th:field="*{educationDegree}">
                <option th:each="e : ${educationDegrees}"
                        th:value="${e.educationDegreeId}"
                        th:text="${e.educationDegreeName}">
                </option>
            </select>
        </div>
        <div>
            <label>Division: </label>
            <select th:field="*{division}">
                <option th:each="d : ${divisions}"
                        th:value="${d.divisionId}"
                        th:text="${d.divisionName}">
                </option>
            </select>
        </div>
        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<style>
    small{
        color: red;
    }
</style>
</body>
</html>