<h1>Student List</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">NAME</th>
    <th scope="col">AGE</th>
    <th scope="col">HEIGHT</th>
    <th scope="col">AVATAR</th>
    <th scope="col">ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList">
    <td>{{student.id}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.height}}</td>
    <td><img [src]="student.avatarImg" alt="#" width="200px" height="200px"></td>
    <td>
      <button type="button" class="btn btn-info" (click)="findStudent(student)">Detail</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<app-student [student]="student"></app-student>
