<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Update Service</h1>
<h2>
    <a th:href="@{/contract/active-list}">
        Back to Customer Active list
    </a>
</h2>
<div class="notify">
    <div th:if="${message}">
        <h3 style="color: green" th:text="${message}"></h3>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/services/update}" th:object="${service}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{serviceId}"/>
        <div>
            <label>CODE: </label>
            <input type="text" th:field="*{serviceCode}"/>
        </div>
        <div>
            <label>NAME: </label>
            <input type="text" th:field="*{serviceName}"/>
        </div>
        <div>
            <label>STANDARD ROOM: </label>
            <input type="text" th:field="*{standardRoom}"/>
        </div>
        <div>
            <label>MAX PEOPLE: </label>
            <input type="number" th:field="*{serviceMaxPeople}"/>
        </div>
        <div>
            <label>Area: </label>
            <input type="number" th:field="*{serviceArea}"/>
        </div>
        <div>
            <label>COST: </label>
            <input type="number" th:field="*{serviceCost}"/>
        </div>
        <div>
            <label>SERVICE TYPE: </label>
            <select th:field="*{serviceType}">
                <option th:each="s : ${serviceTypes}"
                        th:value="${s.serviceTypeId}"
                        th:text="${s.serviceTypeName}">
                </option>
            </select>
        </div>
        <div>
            <label>RENT TYPE: </label>
            <select th:field="*{rentType}">
                <option th:each="r : ${rentTypes}"
                        th:value="${r.rentTypeId}"
                        th:text="${r.rentTypeName}">
                </option>
            </select>
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>