<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Add New House</h1>
<h2>
    <a th:href="@{/}">
        Back to Home
    </a>
</h2>
<div class="notify">
    <div th:if="${message}">
        <h3 style="color: green" th:text="${message}"></h3>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/services/saveHouse}" th:object="${service}" method="POST" novalidate="novalidate">
        <input type="hidden" name="idServiceType" value="2"/>
        <div>
            <label>Code: </label>
            <input type="text" th:field="*{serviceCode}"/>
            <small th:if="${#fields.hasErrors('serviceCode')}" th:errors="*{serviceCode}">Name Error</small>
        </div>
        <div>
            <label>Name: </label>
            <input type="text" th:field="*{serviceName}"/>
            <small th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}">Name Error</small>
        </div>
        <div>
            <label>Standard Room: </label>
            <input type="text" th:field="*{standardRoom}"/>
            <small th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}">Name Error</small>
        </div>
        <div>
            <label>Max People: </label>
            <input type="number" th:field="*{serviceMaxPeople}"/>
            <small th:if="${#fields.hasErrors('serviceMaxPeople')}" th:errors="*{serviceMaxPeople}">Name Error</small>
        </div>
        <div>
            <label>Area: </label>
            <input type="number" th:field="*{serviceArea}"/>
            <small th:if="${#fields.hasErrors('serviceArea')}" th:errors="*{serviceArea}">Name Error</small>
        </div>
        <div>
            <label>Cost: </label>
            <input type="number" th:field="*{serviceCost}"/>
            <small th:if="${#fields.hasErrors('serviceCost')}" th:errors="*{serviceCost}">Name Error</small>
        </div>
        <div>
            <label>Number of floors: </label>
            <input type="number" th:field="*{numberOfFloors}"/>
            <small th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}">Name Error</small>
        </div>
        <div>
            <label>Other Convenience: </label>
            <input type="text" th:field="*{descriptionOtherConvenience}"/>
            <small th:if="${#fields.hasErrors('descriptionOtherConvenience')}" th:errors="*{descriptionOtherConvenience}">Name Error</small>
        </div>
        <div>
            <label>Rent Type: </label>
            <select th:field="*{rentType}">
                <option th:each="r : ${rentTypes}"
                        th:value="${r.rentTypeId}"
                        th:text="${r.rentTypeName}">
                </option>
            </select>
        </div>
        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<style>
    small {
        color: red;
    }
</style>
</body>
</html>