<h1 style="text-align: center; color: blue">List <strong>Customer</strong></h1>
<div>
  <a routerLink="/customer-create" class="btn btn-success" style="margin: 10px 10px">Add New Customer</a>
  <div class="form-inline my-2 my-lg-0" style="float: right; margin: 10px 10px">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">CODE</th>
    <th scope="col">NAME</th>
    <th scope="col">BIRTHDAY</th>
    <th scope="col">GENDER</th>
    <th scope="col">ID CARD</th>
    <th scope="col">PHONE</th>
    <th scope="col">EMAIL</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">CUSTOMER TYPE</th>
    <th scope="col">ACTION</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let customer of customerList">
        <td>{{customer.customerCode}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerBirthday}}</td>
        <td>{{customer.customerGender}}</td>
        <td>{{customer.customerIdCard}}</td>
        <td>{{customer.customerPhone}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerAddress}}</td>
        <td>{{customer.customerType.customerTypeName}}</td>
        <td>
          <a class="btn btn-info mr-2" [routerLink]="['/customer-detail', customer.id]">Detail</a>
          <a class="btn btn-warning mr-2" style="color: white" [routerLink]="['/customer-update', customer.id]">Edit</a>
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" style="color: white" (click)="showDelete(customer.id)">Delete</a>
        </td>
      </tr>
  </tbody>
</table>
<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Customer</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete these Records?</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-danger" data-dismiss="modal" value="OK" (click)="delete()">
        </div>
    </div>
  </div>
</div>
