<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Add New Contract Detail</h1>
<h2>
    <a th:href="@{/contract/}">
        Back to Contract list
    </a>
</h2>
<div class="notify">
    <div th:if="${message}">
        <h3 style="color: green" th:text="${message}"></h3>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/contract/save-detail}" th:object="${contractDetail}" method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{contractDetailId}"/>
        <div>
            <label>CONTRACT ID: </label>
            <input type="text" th:field="*{contract.contractId}"/>
        </div>
        <div>
            <label>QUANTITY: </label>
            <input type="number" th:field="*{quantity}"/>
            <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Name Error</p>
        </div>
        <div>
            <label>ATTACH SERVICE: </label>
            <select th:field="*{attachService}">
                <option th:each="a : ${attachServices}"
                        th:value="${a.attachServiceId}"
                        th:text="${a.attachServiceName}">
                </option>
            </select>
        </div>
        <input type="submit" value="Save"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<style>
    p{
        color: red;
    }
</style>
</body>
</html>