<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security ">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<head th:insert="/layout :: head">
</head>
<body>
<h1>Customer Active List</h1>
<h2>
    <a th:href="@{/}">
        Back to Homepage
    </a>
</h2>
<form class="form-inline my-2 my-lg-0" th:action="@{/contract/search-active}">
    <lable style="font-size: 30px">Search by name: </lable>
    <input style="margin-left: 10px" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form><br>
<div class="notify">
    <div th:if="${message}">
        <h3 style="color: green" th:text="${message}"></h3>
    </div>
</div>
<table id = "tables">
    <thead>
    <tr>
        <th>STT</th>
        <th>CODE</th>
        <th>CUSTOMER</th>
        <th>GENDER</th>
        <th>PHONE</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>SERVICE</th>
        <th>ATTACH SERVICE</th>
        <th colspan="2">ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract,rowStat : ${contracts}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${contract.customer.customerCode}"></td>
        <td th:text="${contract.customer.customerName}"></td>
        <td th:text="${contract.customer.customerGender}"></td>
        <td th:text="${contract.customer.customerPhone}"></td>
        <td th:text="${contract.contractStartDate}"></td>
        <td th:text="${contract.contractEndDate}"></td>
        <td th:text="${contract.service.serviceName}"></td>
        <td>
            <p th:each="contractDetail : ${contract.contractDetailSet}"
               th:text="${contractDetail.attachService.attachServiceName}"></p>
        </td>
        <td><a class="btn btn-primary" href="#" role="button" th:href="@{/services/{id}/edit(id=${contract.service.serviceId})}">Edit</a></td>
        <td><a class="btn btn-primary" href="#deleteEmployeeModal" role="button" data-toggle="modal"
               th:onclick="|setIdToForm('${contract.contractId}')|">Delete</a></td>
    </tr>

    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/services/delete}">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Customer</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="hidden" id="setContractId" name="id">
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </tbody>
</table>
<div class="clearfix">
    <ul class="pagination" style="float: right; margin: 10px 50px">
        <li class="page-item">
            <a th:href="@{'/contract/'(page=${contracts.number - 1})}" th:if="${contracts.hasPrevious()}" class="page-link">
                Previous
            </a>
        </li>

        <li class="page-item active" th:each="numberPage : ${contracts.totalPages}">
            <a class="page-link" th:href="@{'/contract/'(page=${contracts.number})}" th:text="${contracts.number + 1}"></a>
        </li>
        <li class="page-item">
            <a th:href="@{'/contract/'(page=${contracts.number + 1})}" th:if="${contracts.hasNext()}" class="page-link">
                Next
            </a>
        </li>
    </ul>
</div>
<footer th:replace="/layout :: footer"></footer>
<script>
    function setIdToForm(id) {
        document.getElementById("setContractId").value = id;
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>